$tot-width: 100%; 	//Total width of all columns combined
$col-num: 12;		//Total number of columns
$gut-width: 2%;		//gutter width
$col-width: ($tot-width - (($col-num - 1) * $gut-width)) / $col-num;

@mixin grid($col-num) {
	float: left;
	margin-right: $gut-width;
	width: ($col-width * $col-num) + (($col-num - 1 ) * $gut-width);

	&:last-child {
		margin-right: 0;
	}
}