.guitarBoy {
	background-image: url('/images/roughDraftGuitarBoy.jpg');
	text-align: center;
	background-size: cover;
	
	h1{
		padding:2em 0;
		color:white;
		font-size: 4em;
		font-family: "museo";
	}
	
}

.guitarBoy, .overview, .collabText, .becomeText, .userStories {
	box-sizing: border-box;
	padding: .3em 5%;
}

.coupleSunset {
	width: 100%;
}

.collabText {
	background: #120726;

	p {
		color: lighten($secondary-color, 10%);
	}

	button {
		margin-bottom: .5em;
	}
}

.userStories {
	background: $secondary_color;
	padding: 1.5em 1em;

	blockquote {
		font-size: 2em;
		margin: .5em 0;
	}

	p {
		color: #fff;
		font-size: 1.25em;
		font-style: italic;
		text-align: center;
	}

	img {
		display: block;
		margin: .75em auto;
		width: 25%;
	}
}

.entry{
	border: 2px solid #B2B2B2;
	padding: .5em;
}
.userImage{
	height: 1em;
}

footer {
	padding: .3em 5%;
}






