.guitarBoy {
	background-image: url('/images/roughDraftGuitarBoy.jpg');
	text-align: center;
	background-size: cover;
	
	h1{
		padding:2em 0;
		color:white;
		font-size: 4em;
		font-family: "museo";
	}
	
}

.guitarBoy, .overview, .collabText, .becomeCollab, .userStories {
	box-sizing: border-box;
	padding: .3em 5%;
}

.coupleSunset {
	width: 100%;
}

.collabText {
	background: #120726;

	p {
		color: lighten($secondary-color, 10%);
	}

	button {
		margin-bottom: .5em;
	}
}

.userStories {
	background: $secondary_color;
	padding: 1.5em 1em;

	blockquote {
		font-size: 2em;
		margin: .5em 0;
	}

	p {
		color: #fff;
		font-size: 1.25em;
		font-style: italic;
		text-align: center;
	}

	img {
		display: block;
		margin: .75em auto;
		width: 25%;
	}
}



#logIn{

	padding: 7em 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(45, 40, 40, 0.6);
	text-align: center;
	z-index: 1;
	
}
#logInForm{
	font-size: 2em;
	padding: 1em 0;
	color: white;
	border: 3px solid green;
	background-color: red;
	margin: 0 20%;
	>div > p{
		margin: 0;
	}
	>.noAcc{
		font-size: .5em;
	}
	>button{
		margin: 1em 0;
	}
	>.logInButton{
		height: 3em;
	}
	>a{
		width: 2em;
		font-size: .5em;
		background-color: grey;
		border: 2px solid black;
	}
}
#newAccount{
	padding-top: 7em;
	position: absolute;
	margin-top:-4em;
	height: 500%;
	width: 100%;
	background-color: rgba(45, 40, 40, 0.7);
	text-align: center;
	z-index: 1;
}
#addUser{

	padding: 1em 0;
	color: white;
	border: 3px solid green;
	background-color: red;
	margin: 1em 20%;
}
.entry{
	border: 2px solid #B2B2B2;
	padding: .5em;
}
.userImage{
	height: 1em;
}

footer {
	padding: .3em 5%;
}