.guitarBoy {
	background-image: url('/images/roughDraftGuitarBoy.jpg');
	text-align: center;
	background-size: cover;
	
	h1{
		padding:2em 0;
		color:white;
		font-size: 4em;
		font-family: "museo";
	}
	
}

nav {
	a {
		margin-right: 1.5em;

		&:last-child {
			margin-right: .5em;
		}
	}
}

.guitarBoy, .overview, .collabText, .becomeText, .userStories, .aboutInfo {
	box-sizing: border-box;
	padding: 2em 5%;
}

.overview {
	padding: 1.5em;
}

.coupleSunset {
	background: url("/images/roughDraftCoupleSunset.jpg");
	background-size: cover;
	background-position: 50% 70%;
	height: 15em;
}

.collabText {
	background: #120726;

	p {
		color: lighten($secondary-color, 10%);
	}

	button {
		margin-bottom: .5em;
	}
}

.fakeAddUser {
		margin-bottom: .5em;
}

.userStories {
	height: 18em;
	background: $secondary_color;
	padding: 1.5em 1em;

	blockquote {
		font-size: 2em;
		margin: .5em 0;
	}

	p {
		color: #fff;
		font-size: 1.25em;
		font-style: italic;
		text-align: center;
	}

	img {
		display: block;
		margin: .75em auto;
		width: 25%;
	}
}

footer {
	background: $secondary-color;
	clear: both;

	p {
		color: $background-color;
		display: block;
		font-size: .75em;
		padding-top: .5em;
		text-align: center;

	}
}






