/* 	GLOBAL STYLES AND VARIABLES ARE LOCATED ON THIS STYLESHEET */


/* 	
	***DO NOT CHANGE WITHOUT CONTACTING COREY***
	EM BASE SETS BASE EM SIZING TO 16PX
	PRIMARY COLOR: GENERAL USE FOR HEADERS AND TEXT USE
	SECONDARY COLOR: LINKS AND CONTRASTING ELEMENTS
	CONTRAST COLOR: USED FOR MEDIUM CONTRASTING ELEMENTS TO BE USED SPARINGLY
	ATTENTION COLOR: A HIGH-CONTRASTING RED TO BE USED SPARINGLY
*/

$em-base: 16px;
$primary-color: #353F4C;
$secondary-color: #1F6C6E;
$contrast-color: #FF5F49;
$attention-color: #F8472E;

h1, h2, h3 {
	color: $primary-color;
	font-family: "Museo", sans-serif;
}

h4, h5, h6, p {
	color: $primary-color;
	font-family: "Museo-sans", sans-serif;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
	padding: .5em 0;
}

p {
	color: $secondary-color;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.25em;
	padding-bottom: 1.5em;
}

a {
	color: $contrast-color;
	font-family: "Museo-sans", sans-serif;
	text-decoration: none;

	&:hover {
		color: darken($contrast-color, 20%);
	}

}

button {
	background: none;
	border: .15em solid $secondary-color;
	border-radius: .35em;
	color: $secondary-color;
	font-family: "Museo-sans", sans-serif;
	font-size: 1.75em;
	font-weight: 700;
	letter-spacing: -.05em;
	padding: .25em 2em;
	text-transform: uppercase;
}

blockquote {
	color: $contrast-color;
	font-family: "Museo", sans-serif;
	font-size: 3em;
	font-style: italic;
	font-weight: 700;
}