/* 	GLOBAL STYLES AND VARIABLES ARE LOCATED ON THIS STYLESHEET */


/* 	
	***DO NOT CHANGE WITHOUT CONTACTING COREY***
	EM BASE SETS BASE EM SIZING TO 16PX
	PRIMARY COLOR: GENERAL USE AND TEXT USE
	SECONDARY COLOR: LINKS AND CONTRASTING ELEMENTS
	CONTRAST COLOR: USED FOR MEDIUM CONTRASTING ELEMENTS TO BE USED SPARINGLY
	ATTENTION COLOR: A HIGH-CONTRASTING RED TO BE USED SPARINGLY
*/

$em-base: 16px;
$primary-color: #353F4C;
$secondary-color: #1F6C6E;
$contrast-color: #FF5F49;
$attention-color: #F8472E;

h1, h2, h3 {
	color: $primary-color;
	font-family: "Museo", sans-serif;
}

h4, h5, h6, p {
	color: $primary-color;
	font-family: "Museo-sans", sans-serif;
}

blockquote {
	color: $contrast-color;
	font-family: "museo", sans-serif;
	font-size: 3em;
	font-style: italic;
	font-weight: 700;
}