/*	1ST MEDIA QUERY THAT COVERS SMALL/MEDIUM SCREEN SIZES */

@media screen and(min-width: 632px) {

	.mixingBoards {
		display: block;
	}

	.coupleSunset, .mixingBoards {
		float: left;
		margin-right: 2%;
		width: 38%;
	}

	.collabText, .becomeText {
		background: none;
		float: right;
		padding-left: 0;
		width: 60%;

		h2 {
			padding-top: 0;
		}

		p {
			color: $secondary-color;
		}

		.findButton {
			bottom: 0;
		}
	}

	.findCollab {
		min-height: 18em;
	}

	.becomeCollab {
		clear: both;
	}

	.userStories {
		clear:both;
	}

/*	SIZE ADJUSTMENTS FOR MUSIC SEARCH PAGE */

	.musicHeader {
		height: 12em;
	}

	.genInfo, .entry {
		padding: 1.5em 10%;
	} 

	#musicianFilter {
		display: block;
		float: left;
		font-family: "Museo-sans", sans-serif;
		font-size: 1em;
		margin: 1em auto;
		width: 45%;
	}

	#musicianFilterButton {
		width: 45%;
		margin-bottom: .5em;
	}

}
