@media screen and (min-width: 938px) {
	.guitarBoy {
		width: 45%;
		margin-right: 0;
	}

	.overview {
		float: right;
		padding-left: 0;
		width: 53%;
	}

	.imageTrio {
		clear: both;
		display: block;
		float: left;
		width: 45%;
	}

	.coupleSunset, .mixingBoards, .imageTrio {
		width: 45%;
	}

	.collabText, .becomeText {
		width: 53%;

		h2 {
			padding-top: 0;
		}

		p {
			color: $secondary-color;
		}

		.findButton {
			bottom: 0;
		}
	}

	.userStories {
		width: 45%;
	}

	.entry {
		@include grid(4);
	}
}