.entry {
	border-top: 2px solid $background-color;
	font-family: "Museo-sans", sans-serif;
	padding: 1.5em 5%;

	&:nth-of-type(odd) {
		background: tint($primary-color, 85%)
	}

	h4 {
		display: inline-block;
		padding-left: 1em;
	}

	.userInstrument {
		display: inline-block;
		padding-left: 1em;
	}
}

.userImage {
	height: 3em;
}

#expand {
	border: none;
	box-sizing: border-box;
	font-size: 1.5em;
	float: right;
	padding: 0 .25em;

	&:target {
		animation: expand_rotation .5s linear 1 both;
	}
}

