/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes expand_rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(135deg); } }

/* 	GLOBAL STYLES AND VARIABLES ARE LOCATED ON THIS STYLESHEET */
/* 	
	***DO NOT CHANGE WITHOUT CONTACTING COREY***
	EM BASE SETS BASE EM SIZING TO 16PX
	PRIMARY COLOR: GENERAL USE FOR HEADERS AND TEXT USE
	SECONDARY COLOR: LINKS AND CONTRASTING ELEMENTS
	CONTRAST COLOR: USED FOR MEDIUM CONTRASTING ELEMENTS TO BE USED SPARINGLY
	ATTENTION COLOR: A HIGH-CONTRASTING RED TO BE USED SPARINGLY
*/
body {
  background: #faf8f5; }

h1, h2, h3 {
  color: #353F4C;
  font-family: "Museo", sans-serif; }

h4, h5, h6, p {
  color: #353F4C;
  font-family: "Museo-sans", sans-serif; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em;
  padding: .5em 0; }

h3 {
  font-size: 1.75em;
  padding: .5em 0; }

h4 {
  font-size: 1.25em; }

p {
  color: #1F6C6E;
  font-size: 1.15em;
  font-weight: 300;
  line-height: 1.45em;
  padding-bottom: 1.5em; }

a {
  color: #FF5F49;
  font-family: "Museo-sans", sans-serif;
  text-decoration: none; }
  a:hover {
    color: #bf4737; }

button {
  background: none;
  border: 0.1em solid #1F6C6E;
  border-radius: .35em;
  color: #1F6C6E;
  display: block;
  font-family: "Museo-sans", sans-serif;
  font-size: 1.75em;
  font-weight: 700;
  letter-spacing: -.05em;
  margin: 0 auto;
  padding: .25em;
  text-transform: uppercase; }
  button:hover {
    color: #2a9396; }

blockquote {
  color: #FF5F49;
  font-family: "Museo", sans-serif;
  font-size: 3em;
  font-style: italic;
  font-weight: 700; }

/*	STYLING FOR ACCOUNT OVERLAYS */
#logIn, #newAccount {
  padding: 7em 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 1; }

#instrument {
  margin: 1.75em auto;
  width: 70%; }

#logInForm, #addUser {
  font-family: "Museo-sans", sans-serif;
  font-size: 1.5em;
  padding: 1em 0;
  color: white;
  background-color: rgba(10, 47, 69, 0.9);
  border-radius: .35em;
  margin: 0 20%; }
  #logInForm > div > p, #addUser > div > p {
    margin: 0;
    padding: .5em; }
  #logInForm > .noAcc, #addUser > .noAcc {
    font-size: .5em; }
  #logInForm > button, #addUser > button {
    background: #96ffa4;
    border: none;
    display: block;
    font-size: .75em;
    margin: .75em auto; }
  #logInForm > a, #addUser > a {
    width: 2em;
    font-size: .5em; }

/* 	STYLESHEET FOR ALL ITEMS THAT ARE HIDDEN BY DEFAULT */
.mixingBoards, .imageTrio {
  display: none; }

.guitarBoy {
  background-image: url("/images/roughDraftGuitarBoy.jpg");
  text-align: center;
  background-size: cover; }
  .guitarBoy h1 {
    padding: 2em 0;
    color: white;
    font-size: 4em;
    font-family: "museo"; }

nav a {
  margin-right: 1.5em; }
  nav a:last-child {
    margin-right: .5em; }

.guitarBoy, .overview, .collabText, .becomeText, .userStories {
  box-sizing: border-box;
  padding: .3em 5%; }

.overview {
  padding-top: 1.5em; }

.coupleSunset {
  width: 100%; }

.collabText {
  background: #120726; }
  .collabText p {
    color: #2a9396; }
  .collabText button {
    margin-bottom: .5em; }

.fakeAddUser {
  margin-bottom: .5em; }

.userStories {
  background: #1F6C6E;
  padding: 1.5em 1em; }
  .userStories blockquote {
    font-size: 2em;
    margin: .5em 0; }
  .userStories p {
    color: #fff;
    font-size: 1.25em;
    font-style: italic;
    text-align: center; }
  .userStories img {
    display: block;
    margin: .75em auto;
    width: 25%; }

footer {
  padding: .3em 5%; }

.musicHeader {
  background-image: url("/images/putsMac.jpg");
  background-size: cover;
  height: 10em;
  text-align: center; }

.appLogo {
  color: #1F6C6E;
  left: .25em;
  padding: 0;
  position: absolute;
  top: .25em; }

nav {
  position: absolute;
  right: .5em;
  top: .5em; }

.genInfo {
  padding: 0 5%; }

#musicianFilter {
  display: block;
  font-family: "Museo-sans", sans-serif;
  font-size: 1em;
  margin: 1em auto;
  width: 80%; }

#musicianFilterButton {
  width: 80%;
  margin-bottom: .5em; }

.entry {
  border-top: 2px solid #faf8f5;
  font-family: "Museo-sans", sans-serif;
  padding: 1.5em 5%; }
  .entry:nth-of-type(odd) {
    background: #e1e2e4; }
  .entry h4 {
    display: inline-block;
    padding-left: 1em; }
  .entry .userInstrument {
    display: inline-block;
    padding-left: 1em; }

.userImage {
  height: 3em; }

#expand {
  border: none;
  box-sizing: border-box;
  font-size: 1.5em;
  float: right;
  padding: 0 0.25em; }
  #expand:active {
    animation: expand_rotation 0.5s linear 1 forward; }

/*	1ST MEDIA QUERY THAT COVERS SMALL/MEDIUM SCREEN SIZES */
@media screen and (min-width: 632px) {
  .mixingBoards {
    display: block; }
  .coupleSunset, .mixingBoards {
    float: left;
    margin-right: 2%;
    width: 38%; }
  .collabText, .becomeText {
    background: none;
    float: right;
    padding-left: 0;
    width: 60%; }
    .collabText h2, .becomeText h2 {
      padding-top: 0; }
    .collabText p, .becomeText p {
      color: #1F6C6E; }
    .collabText .findButton, .becomeText .findButton {
      bottom: 0; }
  .findCollab {
    min-height: 18em; }
  .becomeCollab {
    clear: both; }
  .userStories {
    clear: both; }
  /*	SIZE ADJUSTMENTS FOR MUSIC SEARCH PAGE */
  .musicHeader {
    height: 12em; }
  .appLogo {
    font-size: 2.25em; }
  .appNav {
    font-size: 1.25em; }
  .genInfo, .entry {
    padding: 1.5em 10%; }
  #musicianFilter {
    display: block;
    float: left;
    font-family: "Museo-sans", sans-serif;
    font-size: 1em;
    margin: 1em auto;
    width: 45%; }
  #musicianFilterButton {
    width: 45%;
    margin-bottom: .5em; } }

@media screen and (min-width: 938px) {
  .guitarBoy {
    display: inline-block;
    margin-right: 0;
    width: 45%; }
  .overview {
    display: inline;
    float: right;
    padding-top: 9.5em;
    padding-left: 0;
    width: 48%; }
  .imageTrio {
    clear: both;
    display: block;
    float: left;
    width: 45%; }
  .coupleSunset, .mixingBoards, .imageTrio {
    width: 45%; }
  .collabText, .becomeText {
    padding-top: 4em;
    width: 48%; }
    .collabText h2, .becomeText h2 {
      padding-top: 0; }
    .collabText p, .becomeText p {
      color: #1F6C6E; }
    .collabText .findButton, .becomeText .findButton {
      bottom: 0; }
  .userStories {
    width: 45%; }
  /*	ADJUSTMENTS FOR MUSICIANS SEARCH AND RESULTS PAGE */
  .musicHeader {
    height: 16em;
    background-position: 30% 20%; }
  .appLogo {
    font-size: 3em; }
  .appNav {
    font-size: 1.5em; }
  .entry {
    float: left;
    margin-right: 2%;
    width: 6.5%; }
    .entry:last-child {
      margin-right: 0; }
  .row {
    padding-bottom: 2%; } }
